<ion-header>
    <ion-navbar>
    </ion-navbar>  
  </ion-header>
  
  <ion-fab bottom right>
    <button ion-fab mini (click)="comments.addComment()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>
  <ion-content>
    <div padding *ngIf="article">
      <h2>{{article.title}}</h2>
      <h3>{{article.published | amFromUnix | amDateFormat:'LL'}}</h3>
      <ion-row *ngIf="article.images && article.images.length">
        <ion-col>
          <ion-slides loop="{{article.images.length > 1 ? true:false}}" autoplay="3500" pager="{{article.images.length > 1 ? true:false}}">
            <ion-slide *ngFor="let image of article.images">
              <img [src]="image.path | imgServerUrly" [srcset]="image.path | imgServerSrcsettify" imageViewer />
              <div class="img-title">{{image.title}}</div>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-list>
        <ion-item *ngIf="article.link">
          <ion-input item-end value="{{article.link}}" disabled></ion-input>
        <button ion-button item-end icon-start (click)="shareItem(article)">
            <ion-icon name="share"></ion-icon>
          {{ 'Share' | translate }}
        </button>
        </ion-item>
      </ion-list>
      <div [innerHTML]="article.description"></div>
      <media-list [media]="article.medias"></media-list>
      <comments #comments [item]="article" [rootNavCtrl]="rootNavCtrl"></comments>
    </div>
    <div *ngIf="!article" padding text-center>
      <ion-spinner></ion-spinner>
    </div>
  </ion-content>