<ion-header>
    <ion-navbar>
    </ion-navbar>  
  </ion-header>
  
  <ion-fab bottom right>
    <button ion-fab mini (click)="comments.addComment()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>
  <ion-content>
    <div padding *ngIf="articles">
      <h2>{{articles.title}}</h2>
      <h3>{{articles.published | amFromUnix | amDateFormat:'LL'}}</h3>
      <ion-row>
        <ion-col>
          <ion-slides *ngIf="articles.images" loop="{{articles.images.length > 1 ? true:false}}" autoplay="3500" pager="{{articles.images.length > 1 ? true:false}}">
            <ion-slide *ngFor="let image of articles.images">
              <img [src]="image.path | imgServerUrly" [srcset]="image.path | imgServerSrcsettify" imageViewer/>
              <div class="img-title">{{image.title}}</div>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <div [innerHTML]="articles.description"></div>
      <media-list [media]="articles.medias"></media-list>
      <comments #comments [item]="articles" [rootNavCtrl]="rootNavCtrl"></comments>
    </div>
    <div *ngIf="!articles" padding text-center>
      <ion-spinner></ion-spinner>
    </div>
  </ion-content>