page-login {
	.logo {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    img {
      max-width: 150px;
      margin: auto;
      padding: 20px 0;
    }
	}
  
  ion-content {
    background: #f7ce06;  /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #fff, #fff 25%, #f7ce06);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #fff, #fff 25%, #f7ce06);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

	.scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 0 !important;
	}
  
	#login-card {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 85%;
    margin: auto;
    padding: 16px;
	}
  
	@media(min-width: 769px) {
    #login-card {
      width: 33%;
      margin: auto;
    }
	}
  
	a, p,
	ion-card-header.card-header {
    color: #fff!important;
	}
  
	.list > .item-block:first-child {
    border: medium none;
	}
  
	.item {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: medium none;
    
    .text-input, {
      color: #fff;
    }
    
    input::-moz-placeholder{
      color: #fff!important;
    }
    input:-moz-placeholder {
      color: #fff!important;
    }
    *:-moz-placeholder{
      color: #fff!important;
    }
    *:-ms-input-placeholder{
      color: #fff!important;
    }
    *::-webkit-input-placeholder{
      color: #fff!important;
    }
	}
  
	.icon {
    padding-right: 10px;
	}
  
	.bottom {
    bottom: 0;
	}
  
	.input-cover {
    position: static;
	}
}