<ion-header>
  
  <ion-navbar>
    <ion-title>{{'User Account' | translate}}</ion-title>
  </ion-navbar>
  
</ion-header>
<ion-content padding>
  <form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="user">
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>{{'First Name' | translate}}</ion-label>
        <ion-input type="text" name="firstName" [(ngModel)]="user.firstName" [disabled]="!newProfile"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>{{'Last Name' | translate}}</ion-label>
        <ion-input type="text" name="lastName" [(ngModel)]="user.lastName" [disabled]="!newProfile"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>{{'Email' | translate}}</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="user.email" [disabled]="!newProfile"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>{{'Display Name' | translate}}</ion-label>
        <ion-input type="text" name="displayName" [(ngModel)]="user.displayName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-thumbnail *ngIf="user.picture" item-end>
          <img [src]="user.picture | imgServerUrly">
        </ion-thumbnail>
        <file-upload (fileUploadStarted)="fileUploadStarted($event);" (fileUploadFinished)="fileUploadFinished($event);"></file-upload>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>{{'Title' | translate}}</ion-label>
        <ion-input type="text" name="title" [(ngModel)]="user.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>{{'Birthday' | translate}}</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [monthShortNames]="monthShortNames"  name="birthdate" pickerFormat="D MMM YYYY" [(ngModel)]="user.birthdate"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        {{'Contacts' | translate}}
        <button type="button" ion-button item-end (click)="addOption()"><ion-icon name="add"></ion-icon></button>
      </ion-list-header>
      <ion-item *ngFor="let option of options">
        <ion-label color="primary" stacked>{{option | translate}}</ion-label>
        <ion-input type="text" [name]="option" [(ngModel)]="user.options[option]"></ion-input>
        <button type="button" ion-button item-end (click)="removeOption(option)"><ion-icon name="remove"></ion-icon></button>
      </ion-item>  
    </ion-list>
    <ion-list>
      <ion-list-header>
        {{'Settings' | translate}}
      </ion-list-header>
      <ion-item>
        <ion-label color="primary" stacked>{{ 'Language' | translate }}</ion-label>
        <ion-select [(ngModel)]="user.preferredLanguage" name="language">
          <ion-option value="en">{{ 'PREFERENCES.LANGUAGE.EN' | translate }}</ion-option>
          <ion-option value="pt">{{ 'PREFERENCES.LANGUAGE.PT' | translate }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <button ion-button type="submit" [disabled]="!uploadFinished" block>{{'Save' | translate}}</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
