<ion-header>

  <ion-navbar>
    <ion-title>{{'User account' | translate}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="user">
    <ion-list>
      <ion-item>
          <ion-label color="primary" floating>{{'First Name' | translate}}</ion-label>
          <ion-input type="text" name="firstName" [(ngModel)]="user.firstName"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" floating>{{'Last Name' | translate}}</ion-label>
          <ion-input type="text" name="lastName" [(ngModel)]="user.lastName"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" floating>{{'Email' | translate}}</ion-label>
          <ion-input type="text" name="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" floating>{{'Display Name' | translate}}</ion-label>
          <ion-input type="text" name="displayName" [(ngModel)]="user.displayName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-thumbnail *ngIf="user.picture" item-end>
          <img [src]="user.picture">
        </ion-thumbnail>
        <file-upload (fileUploadStarted)="fileUploadStarted($event);" (fileUploadFinished)="fileUploadFinished($event);"></file-upload>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>{{'Title' | translate}}</ion-label>
        <ion-input type="text" name="title" [(ngModel)]="user.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>{{'Birthday' | translate}}</ion-label>
        <ion-input type="text" name="birthdate" placeholder="MM-DD" [(ngModel)]="user.birthdate"></ion-input>
      </ion-item>    
      <ion-list-header>
        {{'Contacts' | translate}}
        <button type="button" ion-button item-end (click)="addOption()">{{'Add' | translate}}</button>
      </ion-list-header>
      <ion-item *ngFor="let option of options">
          <ion-label color="primary" floating>{{option | translate}}</ion-label>
          <ion-input type="text" [name]="option" [(ngModel)]="user.options[option]"></ion-input>
          <button type="button" ion-button item-end (click)="removeOption(option)">{{'Remove' | translate}}</button>
      </ion-item>  
    </ion-list>
    <ion-row>
      <ion-col>
        <button ion-button type="submit" block>{{'Save' | translate}}</button>
      </ion-col>
      <ion-col>
        <button ion-button type="button" (click)="cancel()">{{'Cancel' | translate}}</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
