<ion-item-sliding #item>
  <ion-item>    
    <ion-avatar item-start >
      <img [src]="comment.data.picture | imgServerUrly" />
    </ion-avatar> 
    <h2>{{comment.data.title}}</h2>
    <ion-row wrap>
      <ion-list>
        <ion-item *ngFor="let contact of comment.data.contacts">  
          <img-avatar item-start (click)="pushDetailsPage('ContactDetailsPage', contact._id)" [src]=contact.picture></img-avatar>
          <h2>{{contact.displayName}}</h2>
          <p *ngIf="contact.title">{{ contact.title }}</p>
        </ion-item>
      </ion-list>
    </ion-row>
    <img-content *ngIf="comment.data.media" [src]=comment.data.media[0].url></img-content>
    <ion-row>
      <ion-col col-6></ion-col>
      <ion-col col-6 center text-center>
        <ion-note>
          {{comment.published/1000 | amFromUnix | amTimeAgo}}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item-options side="left" *ngIf="comment">    
    <button ion-button (click)="deleteComment(item)">
      <ion-icon name="trash"></ion-icon>
      {{'Delete' | translate }}
    </button>
  </ion-item-options>
</ion-item-sliding>