anniversaries {
  img-avatar[item-start],
  ion-icon[item-start] {
    margin: 8px 8px auto 0 !important;
    width: 40px;
  }
  .avatar-sm  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 75px !important;  //any size
    max-height: 75px !important; //any size 
    min-height: 30px !important;  //any size
    min-width: 30px !important; //any size 
    }
}