anniversaries {
  .avatar-sm  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 75px !important;  //any size
    max-height: 75px !important; //any size 
    min-height: 30px !important;  //any size
    min-width: 30px !important; //any size 
    }
}