<ion-item-sliding #item>
  <ion-item>    
    <ion-avatar item-start >
      <img [src]="comment.data.picture | imgServerUrly" />
    </ion-avatar> 
    <h2>{{comment.data.title}}</h2>
    <ion-row wrap>
      <ion-list>
        <ion-item *ngFor="let contact of comment.data.contacts">  
          <ion-avatar item-start *ngIf="contact.picture; else anonymous">
            <img [src]="contact.picture | imgServerUrly" class="avatar-sm"  (click)="pushDetailsPage('ContactDetailsPage', contact._id)"/>
          </ion-avatar> 
          <ng-template #anonymous>
            <ion-avatar item-start>
              <img src="{{ 'user' | iconPathForContactType }}"/>
            </ion-avatar>
          </ng-template>    
          <h2>{{contact.displayName}}</h2>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-item>
  <ion-item-options side="left" *ngIf="comment">    
    <button ion-button (click)="deleteComment(item)">
      <ion-icon name="trash"></ion-icon>
      {{'Delete' | translate }}
    </button>
  </ion-item-options>
</ion-item-sliding>