<ion-header>
  <ion-navbar>
  </ion-navbar>  
</ion-header>  
<ion-content padding *ngIf="article">
  <ion-fab bottom right>
    <button ion-fab mini (click)="addPost()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>
  <h2>{{article.title}}</h2>
  <ion-slides *ngIf="article.images" [pager]="true" paginationType="fraction">
    <ion-slide *ngFor="let image of article.images" >
      <img [src]="cdnUrl + image.data.path" imageViewer/>
      <div class="img-title">{{image.data.title}}</div>
    </ion-slide>
  </ion-slides>  
  <ion-item>
    <h2>{{article.author}}</h2>
    <p>{{article.created | amDateFormat:'LL'}}</p>
  </ion-item>
  <p [innerHtml]="article.description"></p>
  <media-list [media]="article.medias"></media-list>
  <ion-list>
    <ion-item-sliding *ngFor="let post of posts">
      <ion-item >
        <ion-avatar item-start *ngIf="post.author.picture; else anonymous">
          <img [src]="post.author.picture"/>
        </ion-avatar>
        <ng-template #anonymous>
            <ion-avatar item-left>
              <ion-icon style="font-size: 3.0em" name="contact"></ion-icon>
            </ion-avatar>
        </ng-template>
        
        <h2>{{post.author.displayName}}</h2>
        <p [innerHtml]="post.description"></p>
        <ion-thumbnail *ngIf="post.media" item-end>
            <div class="img-wrap">
              <img class="image-fit" [src]="post.media"/>           
            </div>
        </ion-thumbnail>        
      </ion-item>
      <ion-item-options side="right" (click)="promotePost(post.id)">
        <button ion-button>
          <ion-icon name="checkmark"></ion-icon>
          Promote
        </button>
      </ion-item-options>
      <ion-item-options side="left" (click)="removePost(post.id)">
        <button ion-button>
          <ion-icon name="trash"></ion-icon>
          Remove
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
