page-videos {
  video {
    width: 100%;
  }
  ion-item h2 {
    white-space: normal;
  }
  .video-wrapper {
    max-width: 560px;
    margin: 0 auto 10px;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed,
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}