<ion-header>  
  <ion-navbar>
    <ion-title>{{'Videos' | translate}}</ion-title>
  </ion-navbar>  
</ion-header>
<ion-content>
  <div class="video-container" [innerHtml]="videoFrame"></div>

  <ion-list *ngIf="playlists.length > 0">
    <ion-item>
      <ion-label>{{'Playlist' | translate}}</ion-label>
      <ion-select  [(ngModel)]="playlist" (ionChange)="listVideos()">
        <ion-option value="">{{'All Videos' | translate}}</ion-option>
        <ion-option *ngFor="let playlist of playlists"  value="{{playlist.id}}">{{playlist.snippet.title}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <button ion-item *ngFor="let video of videos" (click)="openVideo(video)" text-wrap>
      <ion-thumbnail item-start>
        <img [src]="video.snippet.thumbnails.default.url">
      </ion-thumbnail>
      <h2>{{ video.snippet.title }}</h2>
      <p>{{ (video.snippet.description | slice:0:80) + (video.snippet.description.length > 80 ? '...' : '')}}</p>
      <ion-row>
        <ion-col col-6></ion-col>
        <ion-col col-6 center text-center>
          <ion-note>
            {{video.snippet.publishedAt | amTimeAgo}}
          </ion-note>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>
</ion-content>