<ion-item no-padding>
  <ion-thumbnail item-start *ngIf="medium.thumbnails && medium.thumbnails.length > 0; else generic">
    <img [src]="medium.thumbnails[0].url | imgServerUrly:'thumbnail'">
  </ion-thumbnail>
  <ng-template #generic>
      <ion-thumbnail item-start>
          <ion-icon style="font-size: 6.0em" name="document"></ion-icon>
      </ion-thumbnail>
  </ng-template>    
  <h2>{{medium.title}}</h2>
  <p>
    <span *ngIf="medium.length">{{'Size' | translate}}:{{medium.length}}<br/></span>
    <span>{{'Type' | translate}}:{{medium.type}}</span><br/>
  </p>
  <medium-controls [medium]="medium" item-end></medium-controls>
</ion-item>