<ion-header no-shadow no-border [elasticHeader]="myContent">
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <img src="./assets/images/header-clean.png" class="logo" alt="infomobi">
      </ion-title>
      <ion-buttons end *ngIf="settings && settings.youtubeChannelId">
        <button ion-button block (click)="pushVideosPage(settings.youtubeChannelId)">
          <div>
            <ion-icon name="desktop"></ion-icon>
            <label>TV</label>
          </div>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content no-bounce fullscreen #myContent>
  <super-tabs [config]="{ sideMenu: 'left' }" *ngIf="!!(authData$ | async)">
    <super-tab [root]="live" title="Ao Vivo"></super-tab>
    <super-tab [root]="items" title="Notícias"></super-tab> 
    <super-tab [root]="contacts" title="Contatos"></super-tab>
  </super-tabs>
</ion-content>
