<ion-header no-shadow no-border>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <img-loader [src]="(settings | async)?.logoUrl" fallbackUrl="./assets/images/header-clean.png" fallbackAsPlaceholder="true" [imgAttributes]="imageAttributes" useImg></img-loader>
      </ion-title>
      <ion-buttons end>
        <button ion-button block (click)="openPage('VideosPage',{channelId: settings.youtubeChannelId})" *ngIf="(settings | async) as settings">
          <div>
            <ion-icon name="logo-youtube"></ion-icon>
            <label>{{'Videos' | translate}}</label>
          </div>
        </button>
        <button ion-button block (click)="openPage('StreamingPage',{url: settings.tvUrl})" *ngIf="(settings | async) as settings">
            <div>
              <ion-icon name="desktop"></ion-icon>
              <label>TV</label>
            </div>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content no-bounce>
  <super-tabs [config]="{ sideMenu: 'left' }" *ngIf="!!(authData$ | async)">
    <super-tab [root]="live" title="Ao Vivo"></super-tab>
    <super-tab [root]="items" title="Notícias"></super-tab> 
    <super-tab [root]="contacts" title="Contatos"></super-tab>
  </super-tabs>
</ion-content>
