<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4> 
        <div class="live">
          <comments [rootNavCtrl]="rootNavCtrl"></comments>
        </div>
      </ion-col>
      <ion-col col-8>
        <div class="news">
          <ion-slides pager="true" loop="true" centeredSlides="true"  autoplay="10000">
            <ion-slide *ngFor="let post of posts">
              <ion-card class="card-background-page">
                <img *ngIf="post.images" class="img-fit" [src]="post.images[0].path.substr(8) | imgServerUrly" [srcset]="post.images[0].path.substr(8) | imgServerSrcsettify"/>
                <ion-card-content>
                  <ion-card-title class="font-headline">
                    {{post.title}}
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
