<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4> 
        <div class="live">
          <comments [rootNavCtrl]="rootNavCtrl"></comments>
        </div>
      </ion-col>
      <ion-col col-8>
        <div class="news">
          <ion-slides pager="true" loop="true" centeredSlides="true"  autoplay="10000" *ngIf="items">
            <ion-slide *ngFor="let item of items">
              <ion-card class="card-background-page">
                <img *ngIf="item.thumbnails.length" [src]="item.thumbnails | getLargerThumbnailUrl | imgServerUrly"  />                  <!-- <img *ngIf="item.images" class="img-fit" [src]="item.images[0].path | imgServerUrly" [srcset]="item.images[0].path | imgServerSrcsettify"/> -->
                <ion-card-content>
                  <ion-card-title class="font-headline">
                    {{item.title}}
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>