<ion-item-sliding #item>
  <ion-item>    
    <img-avatar item-start (click)="pushDetailsPage('ContactDetailsPage', comment.data.author._id)" [src]=comment.data.author.picture></img-avatar>
    <ng-template #anonymous>
      <ion-avatar item-start>
        <img [src]="comment.data.author.type | iconPathForContactType" (click)="pushDetailsPage('ContactDetailsPage', comment.data.author._id)"/>
      </ion-avatar>
    </ng-template>  
    <h2>{{comment.data.author.displayName}}</h2>
    <p>{{comment.data.description}}</p>
    <div class="img-wrap" *ngIf="comment.data.media">
      <img class="image-fit" [src]="comment.data.media[0].url | imgServerUrly" [srcset]="comment.data.media[0].url | imgServerSrcsettify" imageViewer/>   
    </div>
    <a *ngIf="comment.data.itemDetails && !comment.channel.startsWith('item')" href="#" (click)="!!pushDetailsPage('ArticlesDetailsPage', comment.data.itemDetails.id)">{{comment.data.itemDetails.title}}</a>
    <ion-row>
      <ion-col col-6></ion-col>
      <ion-col col-6 center text-center>
        <ion-note>
          {{comment.published/1000 | amFromUnix | amTimeAgo}}
        </ion-note>
      </ion-col>
    </ion-row>   
  </ion-item>
  <ion-item-options side="left" *ngIf="comment">    
    <button ion-button *ngIf="comment.channel.startsWith('item')" (click)="promoteComment(item)">
      <ion-icon name="checkmark"></ion-icon>
      {{'Promote' | translate }}
    </button>
    <button ion-button (click)="deleteComment(item)">
      <ion-icon name="trash"></ion-icon>
      {{'Delete' | translate }}
    </button>
  </ion-item-options>
</ion-item-sliding>