:root {
  --primary-color: color($colors, primary);
  --on-primary-color: #{ion-color(primary, contrast)};
}

.custom-theme {

  desk ion-card-content,
  user ion-card-content,
  .fab,
  .button-md-primary,
  .button-default
  {
    background-color: color($colors, primary) !important;
    background-color: var(--primary-color) !important;
    color: #{ion-color(primary, contrast)};
    color: var(--on-primary-color) !important;
  }

  ion-card-content h3,
  ion-card-content h2 
  {
    color: #{ion-color(primary, contrast)};
    color: var(--on-primary-color) !important;
  }


  ion-item a, 
  .button-clear,
  form ion-item ion-label
  {
    color: color($colors, primary) !important;
    color: var(--primary-color) !important;
  }

}


