:root {
  --primary-color: color($colors, primary);
  --on-primary-color: #{ion-color(primary, contrast)};
}

.alert-button {
  color: var(--primary-color) !important;
}

.custom-theme {

  desk ion-card-content,
  user ion-card-content,
  .fab,
  .button-md-primary,
  .button-default
  {
    background-color: color($colors, primary) !important;
    background-color: var(--primary-color) !important;
    color: #{ion-color(primary, contrast)};
    color: var(--on-primary-color) !important;
  }

  ion-card-content h3,
  ion-card-content h2
  {
    color: #{ion-color(primary, contrast)};
    color: var(--on-primary-color) !important;
  }

  ion-item a, 
  .button-clear,
  .bar-button-ios,
  .bar-button-md-primary,
  .label-ios-primary,
  .label-md-primary
  {
    color: color($colors, primary) !important;
    color: var(--primary-color) !important;
  }

}
