.custom-theme {

  ion-card-content,
  .fab,
  .button-md-primary,
  .button
  {
    background-color: #f7ce06 !important;
    background-color: var(--primary-color) !important;
    color: #f4f4f4 !important;
    color: var(--text-color) !important;
  }

  ion-card h1,
  ion-card h2 
  {
    color: #222 !important;
    color: var(--text-color) !important;
  }

  a, 
  ion-label,
  ion-label h2
  {
    color: #f7ce06 !important;
    color: var(--primary-color) !important;
  }

}


