:root {
  --primary-color: map-get($colors, primary);;
  --on-primary-color: map-get($colors, dark);
}

.custom-theme {

  desk ion-card-content,
  user ion-card-content,
  .fab,
  .button-md-primary,
  .button-default
  {
    background-color: map-get($colors, primary) !important;
    background-color: var(--primary-color) !important;
    color: map-get($colors, dark) !important;
    color: var(--on-primary-color) !important;
  }

  ion-card-content h3,
  ion-card-content h2 
  {
    color: map-get($colors, dark) !important;
    color: var(--on-primary-color) !important;
  }


  ion-item a, 
  .button-clear,
  form ion-item ion-label
  {
    color: map-get($colors, primary) !important;
    color: var(--primary-color) !important;
  }

}


