items-list {
  .fakeItems {
    h1 {
        background-color: lightgrey;
        margin-top: 10px;
        width: 100%;
        height: 2em;
    }
    
    .img-item {
        background-color: lightgrey;
        opacity: 0.5;
        width: 100%;
        height: 15em;
    }
}
}
