<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'Menu' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p.component, false)">
        <ion-icon item-start *ngIf="p.icon" name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list *ngIf="categories">
        <button menuClose ion-item *ngFor="let category of categories" (click)="pushDetailsPage('ItemsPage', category.id)">
          {{category.title}}
        </button>
    </ion-list>
    <ion-list>
      <button menuClose ion-item (click)="openPage('SettingsPage')">
        <ion-icon item-start name="settings"></ion-icon>
        {{'Settings' | translate}}
      </button>
      <button menuClose ion-item (click)="openPage('UserFormPage')">
        <ion-icon item-start name="contact"></ion-icon>
        {{'My account' | translate}}
      </button>
      <button menuClose ion-item (click)="logout()">
        <ion-icon item-start name="log-out"></ion-icon>
        {{'Logout' | translate}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>