contact-list {
  .fakeContact {
    h2, h3, p {
      background-color: lightgrey;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
  
    h2 {
      width: 35%;
      max-width: 10em;
    }
  
    h3 {
      width: 40%;
      max-width: 8em;
    }  
  
    p {
      width: 60%;
    }
  }
}
