<ion-card *ngIf="item">
  <div>
    <img *ngIf="item.thumbnails.length" [src]="item.thumbnails[item.thumbnails.length-1].url | imgServerUrly" />          
    <ion-card-content>
      <h1>{{item.title}}</h1>
    </ion-card-content>
  </div>
  <div *ngIf="item.status == 'open'">
    <ion-list radio-group [(ngModel)]="myVote">    
      <ion-item *ngFor="let option of item.options;let i = index">
        <ion-label>{{option}}</ion-label>
        <ion-radio [value]="i"></ion-radio>
      </ion-item>
    </ion-list>
    <button ion-button (click)="vote()" block>{{'Vote' | translate}}</button>
    <ion-item center text-center>
      <ion-note>{{item.total}} {{'Votes' | translate}} | {{"End voting at" | translate}} {{item.end_date | amFromUnix | amDateFormat:'ll'}}</ion-note>
    </ion-item>
  </div>  
  <div *ngIf="item.status == 'voted'">
    <ion-list>    
      <ion-item *ngFor="let option of item.results">  
        <ion-label>  
          <div class="bar" [ngStyle]="{'width':option.ratio}">
            &nbsp;
          </div>        
          {{option.label}}
          <ion-icon *ngIf="option.myVote" item-content name="checkmark-circle-outline"></ion-icon>
        </ion-label>
        <span item-end>{{option.ratio}}</span>
      </ion-item>
      <ion-item center text-center>
        <ion-note>{{item.total}} {{'Votes' | translate}} | {{"End voting at" | translate}} {{item.end_date | amFromUnix | amDateFormat:'ll'}}</ion-note>
      </ion-item>
    </ion-list>
  </div>  
  <div *ngIf="item.status == 'closed'">
    <ion-list>    
      <ion-item *ngFor="let option of item.results">  
        <ion-label>  
          <div class="bar" [ngStyle]="{'width':option.ratio}">
            &nbsp;
          </div>        
          {{option.label}}
          <ion-icon *ngIf="option.myVote" item-content name="checkmark-circle-outline"></ion-icon>
        </ion-label>
        <span item-end>{{option.ratio}}</span>
      </ion-item>
      <ion-item center text-center>
        <ion-note>{{item.total}} {{'Votes' | translate}} | {{"Poll closed at" | translate}} {{item.end_date | amFromUnix | amDateFormat:'ll'}}</ion-note>
      </ion-item>
    </ion-list>
  </div>  

  <ion-row>
    <ion-col>
      <category-label [id]="item.parent_id"></category-label>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        {{item.published | amFromUnix | amTimeAgo}}
      </ion-note>
    </ion-col>
  </ion-row>
</ion-card>