polls {
  .bar {
    background-color: #CCC;
    filter: alpha(opacity=60);
    /* IE */
    -moz-opacity: 0.6;
    /* Mozilla */
    opacity: 0.6;
    /* CSS3 */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
  }
}
