<ion-header *ngIf="categoryId">
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-row wrap>
    <ion-col *ngFor="let article of articles" col-12 col-md-4>
      <ion-card (click)="pushDetailsPage('article-details', article._id.id)">
        <img *ngIf="article.thumbnails" [src]="article.thumbnails[article.thumbnails.length-1].url"  />          
        <ion-card-content>
          <h1>{{article.title}}</h1>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>