<ion-card>
  <ion-card-content>
    <img [src]="contact.picture | imgServerUrly" *ngIf="contact.picture; else anonymous" />
    <ng-template #anonymous>
      <img [src]="contact.type | iconPathForContactType"/>
    </ng-template>
    <h2>{{contact.displayName}}</h2>
    <h3>{{contact.title}}</h3>
  </ion-card-content>
  <ion-row no-padding *ngIf="admin">
    <button item-end ion-button (click)="pushDetailsPage('UserFormPage', contact._id)">{{'Edit Account' | translate}}</button>
  </ion-row>
  <ion-list>
    <a href="mailto:{{contact.email}}" ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      <p>Email</p>
      <h2>{{contact.email}}</h2>
    </a> 
    <ion-item *ngIf="contact.birthdate">
      <ion-icon name="calendar" item-left></ion-icon>
      <p>{{'Birthday' | translate}}</p>
      <h2>{{contact.birthdate | amDateFormat:'MMM DD'}}</h2>
    </ion-item> 
    <a *ngFor="let option of contact.options | keys" ion-item>
      <p>{{ option.key | translate }}</p>
      <h2>{{ option.value }}</h2>
    </a>  
  </ion-list>   
</ion-card>