comments {
    ion-label {
        white-space: normal;
      }
      ion-avatar[item-start],
      ion-icon[item-start] {
        margin: 8px 8px auto 0 !important;
        width: 40px;
      }
      ion-icon[item-start]+.item-inner {
        margin-left: 0px !important;
      }
    
      .img-content {
        max-height: 10em;
      }    
    
      .fakeComment {
        h2, h3, p {
          background-color: lightgrey;
          opacity: 0.5;
          height: 1em;
          margin-top: 10px;
        }
      
        .img-content {
          background-color: lightgrey;
          opacity: 0.3;
          width: 50%;
          max-width: 35em; 
          height: 10em;
        }
    
        h2 {
          width: 35%;
          max-width: 10em;
        }
      
        h3 {
          width: 40%;
          max-width: 8em;
        }  
      
        p {
          width: 60%;
        }
      }
}
