<comment-list *ngIf="comments" [comments]="comments" (filter)="setFilters($event)" (open)="openPost($event.id)" (delete)="deleteComment($event.id)" (promote)="promoteComment($event)" (update)="updateComment($event.id, $event.changes)"></comment-list>
<ion-list *ngIf="!comments">
  <div ion-item *ngFor="let comment of fakeComments" class="fakeComment">
    <ion-avatar item-start>
      <ion-icon style="font-size: 3.0em" name="contact"></ion-icon>
    </ion-avatar>    
    <h2></h2>
    <p></p>
    <div class=img-comment>&nbsp;</div>
  </div>
</ion-list>
<ion-infinite-scroll (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>