<comment-list *ngIf="comments" [comments]="comments"></comment-list>
<ion-list *ngIf="!comments">
  <div ion-item *ngFor="let comment of fakeComments" class="fakeComment">
    <ion-avatar item-start>
      <ion-icon style="font-size: 3.0em" name="contact"></ion-icon>
    </ion-avatar>    
    <h2></h2>
    <p></p>
    <div class=img-content>&nbsp;</div>
  </div>
</ion-list>
<ion-infinite-scroll *ngIf="!finished && comments" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content>
  </ion-infinite-scroll-content>
</ion-infinite-scroll>