medium-controls {
    .loading {
        width: 36px;
        height: 36px;
        margin-top: 9px;
    }
    .loading-span {
        vertical-align: middle;
        display: inline-block;
    }
    .button-close {
        vertical-align: middle;
        display: inline-block;
    }
}
